.draggable {
  width: 20px;
  height: 20px;
  background-color: red;
}

.droppable {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: box-shadow 0.1s ease-in-out;
}

.shadow {
  box-shadow: inset 0px 0px 20px 5px #000000 !important;
}

.data-table {
  width: min-content;
  height: 90vh;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.data-table .header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-right: 3px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: fit-content;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}
.data-table .header .field {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  height: 50%;
  padding: 0 10px;
  font-size: large;
  font-weight: bold;
  border-right: black 1px solid;
  transition: background-color 0.2s ease-in-out;
}
.data-table .header .field .inner-wrapper {
  margin-right: 20px;
}
.data-table .header .field .arrow {
  position: absolute;
  right: 3px;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.5019607843);
  border-radius: 20px;
  padding: 3px;
  transition: background-color 0.2s ease-in-out;
}
.data-table .header .field .arrow svg {
  stroke-width: 3;
}
.data-table .header .field .arrow:hover {
  background-color: #e0e0e0;
}
.data-table .header .field .arrow.active {
  background-color: rgba(73, 133, 235, 0.4431372549);
}
.data-table .header .field .arrow.active-reverse {
  background-color: rgba(73, 133, 235, 0.4431372549);
}
.data-table .header .field .field-holder {
  min-width: fit-content !important;
}
.data-table .header .field .border {
  position: absolute;
  right: -3px;
  float: right;
  height: 100%;
  z-index: 100;
  border: solid rgba(255, 255, 255, 0) 3px;
  margin: 0.1px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}
.data-table .header .field .border:hover {
  background-color: #2590b7;
  border-color: #2590b7;
}
.data-table .rows {
  width: fit-content;
}
.data-table .rows .row {
  display: flex;
}
.data-table .rows .row .field {
  min-width: fit-content;
}
.data-table .rows .row .field div {
  margin: 0 10px;
}
.data-table .rows .row .field .number {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.data-table .rows .row .field .string {
  display: flex;
  justify-content: flex-start;
}
.data-table .rows .row:nth-child(odd) {
  background-color: #f5f5f5;
}